.Reset-button {
    width: 9vw;
    height: 4vh;
    text-transform: none !important;
    margin: 1vmin !important;
    font-size: 1.8vmin !important;
    padding: 3.25vmin 2vmin !important;
    background: #282c34 !important;
}